pandas~=1.0.3
requests~=2.23.0
urllib3~=1.25.9
numpy~=1.18.2
tweepy~=3.9.0
Unidecode~=1.1.1
boto3~=1.14.33
google-api-python-client==1.12.8
google-auth-httplib2==0.0.4
google-auth-oauthlib==0.4.1
xlrd >= 1.0.0
